@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos extra de la landing */
html, body, #root {
  height: 100%;
}
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
